body{
    display: flex;
    justify-content: center;
    align-items: center;
}



.container{
    height: 400px;
    width : 500px;
    border: 1px solid rgb(183, 223, 131);
    box-shadow: 10px 10px  skyblue;
    border-radius: 20px;
    margin-top: 50px;

}



/* h1 */

h1{
    color: blueviolet;
    margin-left: 10px;
    font-family: poppins;
    font-weight: 600;
}



/* h3 */

h3{
    margin-left: 10px;
    font-family: poppins;
}



/* img1 */

.img1{
    background-image: url("img1.png");
    background-size: cover;
    height: 35px;
    width: 35px;
    border: radius 8px;;
    margin-left : 10px;

}


/* img2 */
.img2{
    background-image: url("img2.png");
    background-size: cover;
    height: 35px;
    width: 35px;
    border-radius: 8px;
    margin-left: 10px;

}


/* img3 */
.img3{
    background-image: url("img3.png");
    background-size: cover;
    height: 35px;
    width: 35px;
    border-radius: 8px;
    margin-left: 10px;

}


/* img4 */
.img4{
    background-image: url("img4.png");
    background-size: cover;
    height: 35px;
    width: 35px;
    border-radius: 8px;
    margin-left: 10px;

}



/* img5 */
.img5{
    background-image: url("img5.png");
    background-size: cover;
    height: 35px;
    width: 35px;
    border-radius: 8px;
    margin-left: 10px;

}



/* p */
p{
    margin-left: 10px;
    font-family: poppins;
}


.images{
    display: flex;
    
}



.img-c{
    border: 1px solid rgb(119, 116, 116);
    border-radius: 5px;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    ; 
    border: 1 px solid grey;
}


/* input */
input{
    width: 70%;
    height: 30px;
    border-radius: 7px;
    margin-left: 20px;
    border: 1px solid grey;
    border-color: skyblue;
    
}



/* button */
button{
    height: 30px;
    width:70%;
    background-color: blueviolet;
    color: white;
    margin-top: 10px;
    border-radius: 7px;
    margin-left: 20px;
    border: none;
}